header {
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: "Arial", sans-serif;
    font-size: 22pt;
    text-align: center;
}

footer {
    margin-top: 2em;
    font-family: "Times", serif;
    font-size: 16pt;
    text-align: center;
}

canvas {
    border: black 5px solid;
    background-color: #000000;
    margin-left: 3em;
}

#chrono {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16pt;
    margin-right: 3em;
    text-align: right;
    color: blueviolet;
}